
.bg-myred{
    background-color: black;
    display: inline-block;
    align-items:flex-end ;
    
}
.content{
    padding: 12px;
    height: 100px;
    margin-top: 40px;
}
.right-aligned{
    justify-content: flex-end;
}
.footer{
    flex-direction:column;
    background-color: blue;
    align-items: center;
    
}
.sidebar{
    flex: auto;
    background-color: blueviolet;
    width: 200px;
    height:1000px;

}